.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 400px;
}

.modal h3 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin: 0.5rem 0;
}

.modal input {
  width: calc(100% - 0.8rem);
  padding: 0.4rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.confirm-btn {
  background: #10b981;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #059669;
}

.comment-container{
  display: grid !important;
}

textarea {
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box; 
  padding: 5px;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  outline: 0;
  resize: vertical; 
  max-height: 45vh;
  margin-top: 0.3rem;
}
