h1{
    text-align: center;
}

.actions-container{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 5px;
}

.actions-container button{
    background-color: #0d66f8;
    color: white;
    border-radius: 5px;
    border: 0;
    max-height: 35px;
    padding: 5px;
    box-shadow: 1px 1px 2px #0d66f8;
}

.actions-container button:hover{
    background-color: #2563eb;
    cursor: pointer;
}

.actions-container img{
    max-width: 25px;
    max-height: 25px;
}