h1{
    text-align: center;
}

.actions-container{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 5px;
}

.actions-container button{
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
    border: 0;
    max-height: 50px;
    padding: 10px;
    box-shadow: 1px 1px 2px #3b82f6;
}

.actions-container button:hover{
    background-color: #2563eb;
    cursor: pointer;
}

.actions-container img{
    max-width: 30px;
    max-height: 30px;
}