.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.checkbox-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: #2563eb;
}

a {
  text-align: center;
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-button{
  border: 0;
  background: unset;
  outline: 0;
}

.input-button img{
  display: flex;
  align-items: center;
  max-width: 25px;
  cursor: pointer;
}
